body {
    margin: 0;
    color: rgb(34, 31, 31);
    background-color: rgb(34, 31, 31);
}

.container {
    /* border: 5px solid black; */
    margin: 2em auto;
}
.row{
    display: flex;
    justify-content: space-around;
    /* border: 5px solid rgb(231, 57, 57); */
    min-height: 5em;
}
.start-and-stop-container{
    display: flex;
    justify-content: space-around;
    min-height: 3em;
}
.scoreboard-container{
    /* border: 5px solid rgb(108, 82, 255); */
    display: flex;
    justify-content: space-around;
}
.home-scoreboard-container{
    border: 3px solid rgb(188, 50, 252);
    border-radius: 5px;
    background-color: rgb(174, 0, 255);
    min-width: 35%;
    max-width: 50%;
    text-align: center;
}
.guest-scoreboard-container{
    border: 3px solid rgb(255, 157, 45);
    border-radius: 5px;
    background-color: rgb(253, 135, 0);
    min-width: 35%;
    max-width: 50%;
    text-align: center;
}
.timer{
    /* border: 3px solid rgb(99, 255, 120); */
    color:azure;
    align-self: center;
}
.pick-timer{
    color:white;
}
.choose-time{
    /* border: 3px solid white; */
    align-self: center;
}
.timer-input{
    width: 3em;
    background: transparent;
    border: transparent;
    color:aliceblue;
    
}
.start-game{
    /* border: 3px solid rgb(171, 250, 24); */
    text-align: center;
    border-radius: 5px;
    min-width: 35%;
    max-width: 50%;
}
button{
    margin: 3px;
    background-color: white;
    border: 3px solid seashell;
    color:rgb(34, 31, 31);
    border-radius: 5px;
    min-width: 20%;
    max-width: 30%;
    min-height: 10%;
    max-height: 25%;
}
.start-button{
    width: 30em;
    background-color: rgb(213, 213, 236);
    min-height: 50%;
    /* margin: 10px; */
    text-align: center;
    border-radius: 5px;
    
}